__pycache__

data/database/pgdata
data/sessions/*
data/log/*
data/hls/*


data/storage/media.dir/movies/*
data/storage/media.dir/stories/*
data/storage/media.dir/songs/*
data/storage/media.dir/fill/*
data/storage/media.dir/trailers/*
data/storage/media.dir/jingles/*
data/storage/media.dir/graphics/*

nebula/nebula
nebula/nebula-setup
support/postgres-init/schema
